$news-container-background-white: white;

// Specific CSS for your home-page
.full-pg {
  height: 100vh;
  width: 100vw;
}


.first-c {
  background-color: rgba(0,0,0,0.07);
}

.middle-c {
  background-color: rgba(0,0,0,0.01);
  h4 {
    padding-top: 4px;
    padding-right: 4px;
  }
}

.last-c {
  background-color: rgba(0,0,0,0.07);
}

//News container
.post-news {
  display: flex;
  margin: 15px;
  background: $news-container-background-white;
  padding: 10px;
  border-radius: 10px;
  height: 10vh;
}

.news-input {
  width: 100%;
  border: none;
}

.news-container {
  display: flex;
  margin: 15px;
  background: $news-container-background-white;
  padding: 10px;
  border-radius: 10px;
 
}

.news-avatar {
  width: 20%;
}

.news-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.news-content {
  padding: 10px;
}

.edu-video  {
  display: flex;
  flex-direction: column;
  background: $news-container-background-white;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
    a {
      width: 100%;
    }
}

.edu-item {
  text-align: center;
}
.video-tutorial {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYFjiSEVV9vj55a5pAmbxvFAB7R6ictvB1vXjYTxkhnip8_asp") no-repeat center center/cover;
  width: 100%;
  height: 200px;
}

//turnament

.turnaments {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background: $news-container-background-white;
  padding: 10px;
  border-radius: 10px;
}


