





* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  // font-family: 'Anton', sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
}

$news-container-background-white: rgba(250, 250, 250, 0.5);
$news-container-background-gray: rgba(0, 0, 0, 0.3);
$news-container-background-dark-gray: rgba(0, 0, 0, 0.5);

.first-row {
  background-color: rgba(0, 0, 0, 0.025);
}
.middle-row {
  margin-top: 5vh;
}

.splash-profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 7px;
}

.display-profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 7px;
}

.nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
  a {
    color: black;
    opacity: 0.7;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 14px;
    &:hover{
      text-decoration: none;
    }
  }

}
.link-btn:hover, .link-btn:focus {
  text-decoration: none;
  background: rgb(240, 240, 240);
}

#home-butto-padding {
  padding-top: none;
}

.flexy {
  display:flex;
}

.stats-item {
  width: 60px;
}

.stat-item {
  width: 30px;
}

.tropy-item {
  height: 30px;
  padding-left: 5px;
}


.home-button {
  a {
    color: #EA5A07;
    opacity: 1;
    font-family: "Nunito Sans";
    font-weight: 600;
  }
}

.match-button {
  background-color: #EA5A07;
  border-radius: 7px;
  a {
    color: white;
    &:hover {
      color: black;
    }
  }
  &:hover {
    background: rgb(214, 73, 21);
  }
}

.firstcolumn-wrapper {
  margin-top: 5vh;
}

.navbarlist {
  margin-top: 15%;
}

.ourlogo {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  img {
    height: 110px;
  }
}

.user-details {
  padding-left: 1vw;
}

.personal-info {
  display: flex;
}

.banner-overlay {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
//Mini cards under the navbar

.navbar-card-container {
  width: 100%;
  padding: 15px;
}

.navbar-players-mini-card{
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
}

.navbar-mini-card-avatar {
  height: 100%;
  width: 60px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  object-fit: cover;
  width: 80px;
}

.tropy-title {
  position:absolute;
  right: 95px;
  top: 14px;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 14px;
}

.tropy-image {
  object-fit: cover;
  height: 300px;
  position: absolute;
  top: 29px;
  right: 23px;
}

.navbar-players-short-description {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%;
  h2 {
    font-size: 0.75rem;
    font-family: "Anton", sans-serif;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }
  hr {
    margin: 0;
  }
}

.navbar-available-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
  }
}

.navbar-availability-div {
  padding-left: 10px;
  padding-bottom: 10px;
}

.navbar-skill-div {
  padding-left: 10px;
  padding-top: 7px;
}

.navbar-skill-availability {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  color: black;
}
.navbar-skill-values {
  font-size: 0.7rem;
  font-family: "Anton", sans-serif;
  color: black;
}

.red-pink-background {
  background: #EA5A07;
 }

.navbar-chat-icon {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  flex-direction: column;

  i {
    color: white;
    font-size: 1.75rem;
  }
}











// Specific CSS for your home-page
.full-pg {
  height: 100vh;
  width: 100vw;
}

.first-c {
  background-color: rgba(0, 0, 0, 0.07);
  color: white;
}

.middle-c {
  background-color: rgba(0, 0, 0, 0.01);
  h4 {
    padding-top: 4px;
    padding-right: 4px;
    color: white;
  }
}

.last-c {
  background-color: rgba(0, 0, 0, 0.07);
}

//News container
.posting-card {
  height: 140px;
  width: 100%;
  border-radius: 7px;

  margin-bottom: 26px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.display-card {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 26px;
}

.post-news {
  width: 100%;
  height: 60%;
}

.post-section {
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 0px 0px 7px 7px;
  text-align: right;
}
.post-button {
  margin-right: 2%;
  margin-top: 1%;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 15px;
  color: white;
  background-color: #EA5A07;
}

.news-input {
  border: none;
  margin-top: 2%;
  margin-left: 2%;
}

.news-avatar {
  margin-top: auto;
  margin-bottom: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.news-content {
  padding: 10px;
}

.edu-video {
  display: flex;
  flex-direction: column;
  background: $news-container-background-gray;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  a {
    width: 100%;
  }
}

.edu-item {
  text-align: center;
}
.video-tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  h2 {
    font-size: 5vw;
  }
}
.fab {
  color: rgb(255, 0, 0);
}

//Right asside column
.available-players {
}

//turnament
.turnament-header {
  text-align: center;
  h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: "semi-bold";
    font-size: 16px;
  }
}
.turnament-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: "semi-bold";
    font-size: 16px;
  }

  .players-link {
    text-decoration: none;
  }
}
.players-mini-card {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-bottom: 20px;
  width: 300px;
  height: 80px;
}

.mini-card-avatar {
  height: 100%;
  width: 60px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  object-fit: cover;
  width: 80px;
}

.players-short-description {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%;
  h2 {
    font-family: "Anton", sans-serif;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }
  hr {
    margin: 0;
  }
}

.listimage-avatar {
  height:50px;
  width:50px;
  border-top-left-radius:7px;
  border-bottom-left-radius:7px;
  margin-right: 5px;
}

.profile-modal-button{
  border:none;
  background:none;
  opacity: 0.7;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 14px;
}

.available-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
  }
}

.availability-div {
  padding-left: 10px;
  padding-bottom: 10px;
}

.skill-div {
  padding-left: 10px;
  padding-bottom: 10px;
}

.skill-availability {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: black;
}
.skill-values {
  font-family: "Anton", sans-serif;
  color: black;
}


// Tooltip

.hip-tooltipt {
  position: relative;
}

.hip-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 70px;
  left: 33px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.hip-tooltip:hover + .hip-tooltiptext {
  visibility: visible;
}


.my-tooltip {
  position: relative;
  // display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.my-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 70px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.my-tooltip:hover + .my-tooltiptext {
  visibility: visible;
}

.alex-tooltip {
  position: relative;
  // display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.alex-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 238px;
  left: 484px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.alex-tooltip:hover + .alex-tooltiptext {
  visibility: visible;
}




