.form-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.match-submit-button {
  background-color:#EA5A07;
  border: none;
    &:hover {
      background: rgb(214, 73, 21);
      
    }
}

.form-control {
  max-height:40px;
  margin-top: 16px;
}


.matching-form {
  max-height: 85%;
  width: 70%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 45px;
  border-radius: 7px;
}

.form-color-pink {
  background: #fc4e67;
  &:hover {
    background: rgb(242, 68, 93);

  }
}
.form-title {
  h2 {
    text-align: center;
    font-weight: 900;
  }
}

.search_start_datetime {
  text-align: center;
  font-weight: 900;
  margin-right: 0px;
}

.search_start_time {
  text-align: center;
  font-weight: 900;
  margin-right: 0px;
}

.search_end_time {
  text-align: center;
  font-weight: 900;
  margin-right: 0px;
}

.search_acceptance_deadline_hrs {
  text-align: center;
  font-weight: 900;
  margin-right: 0px;
}

.search_will_travel_km {
  text-align: center;
  font-weight: 900;
  margin-right: 0px;
}
