.little-margin {
  margin-top: 2vh;
}

.message-right {
  text-align: right;

}

.contents-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 110vh;
  align-items: center;
}
.challenge-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.player-vs-player-div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;

  width:100%;
  z-index:100
}

.match-information {

}

.messagess {

  max-height: 100%;
  width: 90%;
  margin: 0 auto;
}

.message-input-div {
  margin-top: 30px;
  width: 75%;
  overflow-y: scroll;
  max-height: 84%;
}

.message-input-div::-webkit-scrollbar {
  display: none;
}


.form-message-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-card-partial {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group-match {
  width: 50%;
}

.form-control {
  height: 10vh;
  border: 3px solid rgb(238, 238, 238);
  border-radius: 7px;
}

.message_content {
  width: 50%;
}
