.little-margin {
  margin-top: 2vh;
}

.message-right {
  text-align: right;
}

.challenge-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.player-vs-player-div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;

  width:100%;
  z-index:100
}

.match-information {

}

.messagess {
  overflow-y: scroll;
  max-height: 40vh;
}

.message-input-div {
margin-top: 30px;

width:100%;
z-index:100
}

.form-message-input {

}
