
<div class="row full-pg">

  <div class="col first-row">
    1 of 3
  </div>


  <div class="col-6 middle-row">
    <h4>Community feed</h4>
  </div>


  <div class="col last-row">
    3 of 3
  </div>


</div>


