
<div class="row full-pg">

  <div class="col first-c">
    1 of 3
  </div>


  <div class="col-6 middle-c">
    <h4>Community feed</h4>
  </div>


  <div class="col last-c">
    3 of 3
  </div>


</div>


