.profile-banner {
  display: flex;
  padding: 20px;
  background-color: white;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px lightgrey solid;
}

.banner-body {
  text-align: center;
}
