.my-card {
  display: flex;
  height: 15vh;
  width: 70%;
  justify-content: space-between;
  font-family: 'Nunito Sans';
  font-weight: 600;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background-color: #EEEEEE;
  overflow: auto;
}

.card-content {
  flex-grow: 2;
  display: flex;
  height: 15vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  .name {
    border-bottom: 2px lightgrey solid;
    display: flex;
    justify-content: space-between;
  }
  strong {
    color: #616292;
  }
  textarea {
    margin: 5px;
    border: none;
  }
}

.my-btn {
  padding: 4px 10px 4px 10px;
  border-radius: 8px;
  font-family:'Nunito Sans';
  font-weight: 800;
  font-size: 15px;
  width: 90px;
  color: white;
  background-color: #EA5A04;
}

.my-btn:hover {
  opacity: 0.8;
}

.card-avatar {
  height: 15vh;
}
