.my-card {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin-top: 30px;
  box-shadow: 10px 10px 10px lightgrey;
  background-color: white;
  .btn {
    opacity: 70%;
  }
  .map {
    margin: 2px;
  }
}

.card-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  .name {
    border-bottom: 2px lightgrey solid;
  }
  strong {
    color: #616292;
  }
}

.card-avatar {
  height: 20vh;
}
