.message-container{
  overflow-y: scroll;
  max-height: 350px;
}

.message-out {
  background-color: lightgrey;
  text-align: left;
  width: 50%;
}

.message-in {
  background-color: white;
  text-align: right;
  width: 50%;
}
