.message-container{

}

.message-out {
  background-color: rgb(86, 86, 86);
  text-align: left;
  float: left;
  width: 80%;
  border-radius: 7px;
  color: rgb(234, 90, 7);
  font-weight: bold;
}

.message-in {
  background-color:rgb(234, 90, 7);
  text-align: right;
  float: right;
  width: 80%;
  border-radius: 7px;
  color: rgb(86, 86, 86);
  font-weight: bold;
}
