.modal-content {
  background-color: #EEEEEE;
}

.modal-name {
  color: #616292;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.modal-title {
  margin-left: 20px;
}

#new_match {
  width: 100%;
}

.modal-footer {
  font-family: 'Nunito Sans';
  font-weight: 600;
}
