.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #7BB737;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.fa-affiliatetheme {
  font-size: 40px;
}

.navbar i {
  color: white;
}
