.notification {
  position: fixed;
  cursor: pointer;
  z-index: 999;

  background-color: white;
  opacity: 1.0;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 16px;
  border: solid 3px #EA5A07;

  width: 320px;
  height: auto;
  bottom: 0;
  right: 0;
  text-align: center;

  color: black;
  &:hover {
    color: black;
  }
}
